.content-add {
  width: 100%;
  margin: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.textarea {
  padding: 10px;
  font-size: 18px;
  border-radius: 3px;
  border: 1px solid #20336be6;
  resize: vertical;
  overflow: auto;
}

.content-add .actions button {
  padding: 10px;
  margin: 10px;

  border: none;
  font-size: 24px;
  color: #434343;

  cursor: pointer;
}

.color-success {
  color: #008002 !important;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
  height: 100%;
}

.preview {
  border: 1px solid #cccccc;
  min-height: 235px;
  height: auto;
  width: 65%;
  margin-left: 0;
  border-radius: 3px;
  padding: 10px;
}

.hide {
  display: none;
}

.content-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.list {
  width: 80%;
  padding: 30px;
}

.list .item {
  margin: 20px;
  padding: 20px;
  min-height: 200px;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  
  -webkit-box-shadow: 0px 0px 7px 1px rgba(209,209,209,1);
  -moz-box-shadow: 0px 0px 7px 1px rgba(209,209,209,1);
  box-shadow: 0px 0px 7px 1px rgba(209,209,209,1);
  
  border-radius: 3px;

  position: relative;
}