.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  border-bottom: 1px solid #e3e3e3;
  background-color: #20336be6;
  
  font-family: sans-serif;
  color: #f3f3f3;
}

.title-with-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  padding-left: 10px;
}

a {
  color: #f3f3f3;
  text-decoration: none;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

a svg{
  margin-right: 5px;
}